@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

*{
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 0;
}


li,a,button {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size:16px;
    color: #42eff5;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #f5ad42;
}

.navigationlinks{
    list-style: none;
}

.navigationlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navigationlinks li a{
    transition: all 0.3s ease 0s;

}

.navigationlinks li a:hover, button:hover{
    color: rgb(102, 255, 255);
}

button{
    padding: 9px 25px;
    background-color:rgb(153, 0, 0);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo {
    width: 84px;
    height: 84px;
}

.introduction{
    display: flex;
    padding: 90px;
    background-color: #f2f542;
    align-items: center;
    justify-content: center;
}

.introduction-text{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.introduction-text h1{
    font-size: 100;

}

